# Pour plus d'informations voir http://help.github.com/ignore-files/

/dist
/tmp
/out-tsc
/bazel-out
/.npm
/out
/build

/node_modules

chrome-profiler-events*.json

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
!package-lock.json

.DS_Store
Thumbs.db

/playwright/test-results/
/playwright/playwright-report/
/playwright/playwright/.cache/
