#ignoring .vscode folder but we keep some files for debuging
/.vscode/chrome
/.vs/

package-lock.json
.DS_Store

# Code Coverage Folder
coverage/

#Node Modules
/node_modules

#release
/release/artefacts/

mobile/test/mock/*.mocks.dart

mobile/pubspec.lock
**/.npm/*
