<div id="invitations">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <div *ngIf="!friendRequestOpen">
        <div class="invitation" style="height: 8vh" *ngFor="let invitation of invitations">
            <div style="flex: 2" class="invitation-name">
                <img style="max-width: 22%" src="{{ invitation.profilePicture }}" alt="" />
                <div class="name">{{ invitation.creator.name }}</div>
            </div>
            <div style="flex: 1; text-align: center">
                <span class="material-symbols-outlined">swords</span>
            </div>
            <div style="flex: 2" class="invitation-name">
                <button class="yes" (click)="invitationDecision(true, invitation)">{{ translationsContainer.get('yes') }}</button>
                <button class="no" (click)="invitationDecision(false, invitation)">{{ translationsContainer.get('no') }}</button>
            </div>
        </div>
    </div>

    <div *ngIf="friendRequestOpen">
        <div class="invitation" style="height: 8vh" *ngFor="let newFriend of friendsRequest">
            <div style="flex: 2" class="invitation-name">
                <img style="max-width: 22%" src="{{ newFriend.profilePicture }}" alt="" />
                <div class="name">{{ newFriend.name }}</div>
            </div>
            <div style="flex: 1; text-align: center">
                <i class="fa fa-plus-square-o" aria-hidden="true"></i>
            </div>
            <div style="flex: 2" class="invitation-name">
                <button class="yes" (click)="friendRequestDecision(true, newFriend.id)">{{ translationsContainer.get('yes') }}</button>
                <button class="no" (click)="friendRequestDecision(false, newFriend.id)">{{ translationsContainer.get('no') }}</button>
            </div>
        </div>
    </div>
</div>
