<img *ngIf="win" id="crown" src="assets/images/crown.png" alt="crown" />

<div id="player-container">
    <div class="container" id="player-stand">
        <div class="image">
            <img [ngClass]="[player.turn ? 'player-turn' : 'not-player-turn']" src="{{ picture() }}" alt="turn" />
        </div>
        <span id="name" class="information">{{ player.name }} </span>
    </div>
    <div class="container">
        <div id="score" class="information">
            {{ player.score }}
        </div>
        <div *ngIf="!isObservationPage; else isObservated">
            <div *ngIf="player.nLetterLeft < 7">
                <div id="miniTile">
                    <div *ngFor="let message of letterLeft" class="tile"></div>
                </div>
                <div id="easel"></div>

                <b id="nbLetter">{{ player.nLetterLeft }} {{ translationsContainer.get('remainingLetters') }}</b>
            </div>
        </div>
        <ng-template #isObservated>
            <div id="miniTile">
                <div *ngFor="let letter of player.easel?.letters" class="tile">{{ letter.letter.toUpperCase() }}</div>
            </div>
            <div id="easel"></div>
        </ng-template>
    </div>
</div>
