canvas {
    width: 75vh;
    height: 72vh;
}

p {
    margin-top: 1.6vh;
    margin-bottom: 1.6vh;
    margin-left: 6vh;
    width: 8em;
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 8vh;
    color: var(--title-color);
    text-align: center;
}

button {
    background-color: var(--clearer-button-color);
    border: 0.5vh solid var(--button-border);
    color: var(--button-font-color);
    border-radius: 1.2vh;
    text-align: center;
    width: 40%;
    height: 5.5vh;
    font-size: 2.5vh;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 60vh;
}

img {
    width: 10vh;
    height: 10vh;
}

button[disabled],
.play-btn[disabled] {
    border-color: var(--button-disabled-border-color);
    background-color: var(--button-disabled-color);
    color: var(--button-disabled-font-color);
    cursor: default;
}

button.pass-btn:enabled:hover {
    background-color: var(--clearer-button-hover-color);
    cursor: pointer;
    transition: ease-out 0.3s;
}

button.play-btn {
    background-color: var(--play-button-color);
    border: 0.5vh solid var(--play-button-border-color);
    margin-left: 4.35vh;
}

button.play-btn:enabled:hover {
    background-color: var(--play-button-hover-color);
    cursor: pointer;
    transition: ease-out 0.3s;
}

#grid-container {
    width: 70vh;
    height: 72vh;
    margin-left: 16vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#action-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1vh;
}

app-easel {
    width: 100%;
}

app-approval-panel {
    position: absolute;
    left: 5vh;
    top: 35vh;
}
